<dl class="list-none navnow">
    <dt><a href="/Account/Detail/@ViewBag.UserId" title="详细信息" class="zm"><span>详细信息</span></a></dt>
</dl>
<dl class="list-none navnow">
    <dt><a href="/Account/Edit/@ViewBag.UserId" title="信息维护" class="zm"><span>信息维护</span></a></dt>
</dl>
<dl class="list-none navnow">
    <dt><a href="/Account/ChangePassword/@ViewBag.UserId" title="修改密码" class="zm"><span>修改密码</span></a></dt>
</dl>