@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Vip.cshtml";
}

@section  LeftMenuItems{
    @Html.Partial("AccountNavPartial")
}

@section  BreadCrumbs{
    &gt;
    <label>详细信息</label>
}


