@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Vip.cshtml";
}


@section  LeftMenuItems{
    @Html.Partial("AccountNavPartial")
}

@section  BreadCrumbs{
    &gt;
    <label>信息维护</label>
}
