@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}

<form>
    <table>
        <tr><td><label>用户名：</label></td><td><input type="text" id="txtUserName" name="username" /></td></tr>
        <tr><td><label>密码</label></td><td><input type="password" id="txtPwd" name="password" /></td></tr>
        <tr><td colspan="2"><input type="button" id="btnLogin" value="登录" /></td></tr>
    </table>
</form>
