@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}
@model LotteryDraw.Site.Models.LoginModel

<div class="active" id="messagelist">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { name = "loginForm", id = "loginForm" })){
        <table class="message_table">
            <tbody>
                <tr>
                    <td class="text">用户名：</td>
                    <td class="input">
                        @Html.TextBoxFor(model => model.Account, new { @class = "input-text", placeholder = "用户名", id = "txtUserName" })
                        <span class="info">*</span></td>
                </tr>
                <tr>
                    <td class="text">密码：</td>
                    <td class="input">
                        @Html.PasswordFor(model => model.Password, new { @class = "input-text", placeholder = "密码" })
                        <span class="info">*</span></td>
                </tr>
                <tr>
                    <td class="text"></td>
                    <td class="submint">
                        <input type="submit" name="Submit" value="登录" class="submit button orange"></td>
                </tr>
            </tbody>
        </table>
        @Html.HiddenFor(m => m.ReturnUrl);
    }

</div>
