@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}

<div class="active" id="messagelist">
    <form method="POST" name="loginform">
        <table class="message_table">
            <tbody>
                <tr>
                    <td class="text">用户名：</td>
                    <td class="input">
                        <input id="txtUserName" name="username" type="text" class="input-text"><span class="info">*</span></td>
                </tr>
                <tr>
                    <td class="text">密码：</td>
                    <td class="input">
                        <input id="txtPwd" name="password" type="text" class="input-text"><span class="info">*</span></td>
                </tr>
                <tr>
                    <td class="text"></td>
                    <td class="submint">
                        <input type="submit" name="Submit" value="登录" class="submit button orange"></td>
                </tr>
            </tbody>
        </table>
    </form>

</div>
