@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Business.cshtml";
}

@section  LeftMenuItems{
    @Html.Partial("VipNavPartial")
}
@section  BreadCrumbs{
    &gt; <label>会员操作指南</label>
}
@section styles{
    <style type="text/css">
        #showtext p {
            color: rgb(58, 58, 58); font-family: 微软雅黑; line-height: 22px;
        }
        #showtext span {
            color: rgb(0, 51, 255);
        }
    </style>
}
<div class="editor active" id="showtext">
    <div>
        <p>
            <br>
            <span><strong>【专业】：</strong></span><br>
            &nbsp; &nbsp; &nbsp; &nbsp; 力量雄厚的师资库，系统全面的专业课程，每次课程都围绕一个主要的管理板块设计，囊括了从企业战略、人力资源、企业文化、营销实战、财务监控、生产管理等管理主题，到牵动每个企业中高层经理人未来的个人职业生涯设计、个人管理实战技能的修炼等。
        </p>
        <p>
            <br>
            <span><strong>【价值】：</strong></span><br>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;致力于解决企业实际问题，所有的行为围绕创造真正的价值而努力。
        </p>
        <p>
            <br>
            <span><strong>【成功】：</strong></span><br>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;企业的目标达成是我们对成功的基本定义，也是我们衡量行为的准则。
        </p>
        <p>
        </p>
        <p>
            <span><strong>【全员】：</strong></span><br>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;从技术工人到公司的高层管理人员，都是我们培训的服务对象。
        </p>
        <p>
            <br>
            <span><strong>【全程】：</strong></span><br>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;从新员工进企业开始，我们都有相应的培训课程项目贯穿职业发展的各个阶段。这种全程式的培训课程体系设置，将帮助企业员工在适应工作需要的同时不断稳步提高自身素质和能力。
        </p>
        <p>
            <br>
            <span><strong>【全方位】：</strong></span><br>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;培训项目是多方面的，不仅有素质培训、管理技能培训，还有专业技能培训、语言培训和电脑培训等。
        </p>
        <p>
            <br>
            <span><strong>【针对性】：</strong></span><br>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;培训项目都针对企业在实际管理过程中的长处和待改善的地方，配合企业的业务需求来设计，也会综合考虑企业未来的发展需要。
        </p>
        <p>
            <br>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;同时也会根据公司的不同层面和不同需求提供不同的培训。从技术工作到公司的高层管理人员，针对不同的工作岗位来设计培训的课程和内容。通过为每一个层面提供独具特色的培训计划和极具针对性的发展计划，使他们潜力得到最大限度的发挥。
        </p>
    </div>
    <div class="clear"></div>
</div>
