@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Vip.cshtml";
}

@section  LeftMenuItems{
    @Html.Partial("VipNavPartial")
}
@section  BreadCrumbs{
    &gt; <label>会员操作指南</label>
}
@section styles{
    <style type="text/css">
        #showtext p {
            color: rgb(58, 58, 58); font-family: 微软雅黑; line-height: 22px;
        }
        #showtext span {
            color: rgb(0, 51, 255);
        }
    </style>
}
<div class="editor active" id="showtext">
    <div>
        <p>
            <br>
            <span><strong>【发布奖品】：</strong></span><br>
            &nbsp; &nbsp; &nbsp; &nbsp; 力量雄厚的师资库，系统全面的专业课程，每次课程都围绕一个主要的管理板块设计，囊括了从企业战略、人力资源、企业文化、营销实战、财务监控、生产管理等管理主题，到牵动每个企业中高层经理人未来的个人职业生涯设计、个人管理实战技能的修炼等。
        </p>
        <p>
            <br>
            <span><strong>【奖品管理】：</strong></span><br>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;致力于解决企业实际问题，所有的行为围绕创造真正的价值而努力。
        </p>
        <p>
            <br>
            <span><strong>【奖单管理】：</strong></span><br>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;企业的目标达成是我们对成功的基本定义，也是我们衡量行为的准则。
        </p>
        <p>
        </p>
        <p>
            <span><strong>【我的抽奖】：</strong></span><br>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;从技术工人到公司的高层管理人员，都是我们培训的服务对象。
        </p>
        <br />
    </div>
    <div class="clear"></div>
</div>
