@{
    ViewBag.Title = "发起抽奖";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Business.cshtml";
}

@section  LeftMenuItems{
    @Html.Partial("VipNavPartial")
}

@section  BreadCrumbs{
    &gt; <label>发起抽奖</label>
}

