@{
    ViewBag.Title = "奖品管理";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Business.cshtml";
}

@section  LeftMenuItems{
    @Html.Partial("VipNavPartial")
}

@section  BreadCrumbs{
    &gt; <label>奖品管理</label>
}