@{
    ViewBag.Title = "我的抽奖";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Business.cshtml";
}

@model LotteryDraw.Site.Models.PrizeOrderView

@section  LeftMenuItems{
    @Html.Partial("VipNavPartial")
}

@section  BreadCrumbs{
    &gt;
    <label>我的抽奖</label>
}
