@*<dl class="list-none navnow">
    <dt><a href="/Vip/Index" title="操作指南" class="zm"><span>操作指南</span></a></dt>
</dl>
<dl class="list-none navnow">
    <dt><a href="/Vip/PublishPrize" title="发布奖品" class="zm"><span>发布奖品</span></a></dt>
</dl>
<dl class="list-none navnow">
    <dt><a href="/Vip/ManagePrizes" title="奖品管理" class="zm"><span>奖品管理</span></a></dt>
</dl>
<dl class="list-none navnow">
    <dt><a href="/Vip/PrizeOrderList" title="奖单管理" class="zm"><span>奖单管理</span></a></dt>
</dl>
<dl class="list-none navnow">
    <dt><a href="/Vip/MyBettingList" title="我的抽奖" class="zm"><span>我的抽奖</span></a></dt>
</dl>*@

<dl class="list-none navnow">
    <dt><a href="/Vip/LaunchLottery" id="abtnLaunch" title="发布抽奖" class="zm"><span>发布抽奖</span></a></dt>
</dl>
<dl class="list-none navnow">
    <dt><a href="/Vip/LuckyNotice" title="中奖通知" class="zm"><span>中奖通知</span></a></dt>
</dl>
<dl class="list-none navnow">
    <dt><a href="/Vip/PrizeOrderList" title="发布记录" class="zm"><span>发布记录</span></a></dt>
</dl>
<dl class="list-none navnow">
    <dt><a href="/Vip/DeadLotteries" title="死奖" class="zm"><span>死奖</span></a></dt>
</dl>
@*@Html.Partial("~/Areas/Website/Views/Account/AccountNavPartial.cshtml")*@
<script type="text/ecmascript">
    $(function () {
        $("#abtnLaunch").click(function (e) {
            @*var pubtimes = '@ViewBag.PublishEnableTimes';
            if (pubtimes == 0) {
                layer.alert("抱歉，您可发起抽奖的次数为0，请续费后再继续使用该功能。", 8);
                e.preventDefault();
            }*@
        });
    });
</script>
