<ul class="breadcrumb">
    <li>
        <i class="icon-home home-icon"></i>
        <a href="#">Home</a>
    </li>

    <li>
        <a href="#">Other Pages</a>
    </li>
    <li class="active">FAQ</li>
</ul>
