@{
    ViewBag.Title = "Advertisements";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb{
    <li class="active">广告管理</li>
}
@section BodyHeader{
    <h1>广告管理
								<small>
                                    <i class="icon-double-angle-right"></i>
                                    设置
                                </small>
    </h1>
}
<h2>广告</h2>
