@{
    ViewBag.Title = "NonAudit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb{
    <li>
        <a href="#">配置管理</a>
    </li>
    <li class="active">免审核</li>
}
@section BodyHeader{
    <h1>配置管理
								<small>
                                    <i class="icon-double-angle-right"></i>
                                    免审核
                                </small>
    </h1>
}
<h2>免审核</h2>
