@{
    ViewBag.Title = "Set2Top";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Breadcrumb{
    <li>
        <a href="#">配置管理</a>
    </li>
    <li class="active">置顶</li>
}
@section BodyHeader{
    <h1>配置管理
								<small>
                                    <i class="icon-double-angle-right"></i>
                                    配置项
                                </small>
    </h1>
}
<h2>置顶</h2>
