@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Business.cshtml";
}


<div>
    &nbsp;
</div>
<div>
    <img src="~/content/website/images/20131228_153538.jpg" style="width: 245px; height: 230px; margin: 10px 20px; float: left;" alt="企业管理服务公司网站模板">
    <div>
        &nbsp;
    </div>
    <div>
        企业管理服务有限公司
    </div>
    <div>
        &nbsp;
    </div>
    <div>
        地址：浙江省杭州市中山北路xx楼室
    </div>
    <div>
        总机：000-0000000　　传真：000-0000000
    </div>
    <div>
        邮箱：xxx@163.com　　　　　 邮编：000000
    </div>
    <div>
        网址：www.xxxx.com
    </div>
    <div>
        业务咨询电话：000-000000
    </div>
</div>
<div>
    &nbsp;
</div>
<div>
    &nbsp;
</div>
