@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}


<div class="inner met_flash">
    <div class="flash">
        <img src="~/content/website/images/1405417163.jpg" width="1002" alt="" height="128">
    </div>
</div>


<div class="sidebar inner">

    <div class="sb_nav">

        <h3 class="title myCorner" data-corner="top 5px" style="border-top-left-radius: 5px; border-top-right-radius: 5px;"><span>联系我们</span></h3>
        <div class="active" id="sidebar" data-csnow="15" data-class3="0" data-jsok="2">
            <dl class="list-none navnow">
                <dt id="part2_51"><a href="http://www.wuliubang.net/" title="联系我们" class="zm"><span>联系我们</span></a></dt>
            </dl>
            <dl class="list-none navnow">
                <dt id="part2_52"><a href="http://www.wuliubang.net/" title="留言中心" class="zm"><span>留言中心</span></a></dt>
            </dl>
            <div class="clear"></div>
        </div>

        <div class="notice"><a href="./content/联系我们.htm">
            <img src="~/content/website/images/1405481903.jpg" alt="联系我们"></a></div>
    </div>


    <div class="sb_box sbbo">
        <h3 class="title">
            <div class="position">当前位置：<a href="http://www.wuliubang.net/demo/met093/354/" title="网站首页">网站首页</a> &gt; <a href="./content/联系我们-企业管理服务公司网站模板 企业管理服务企业网站模板-企业管理服务有限公司.htm">联系我们</a></div>
            <span>联系我们</span> </h3>
        <div class="clear"></div>
        <!--
-->
        <div class="editor active" id="showtext">
            <div>
                <div>
                    &nbsp;
                </div>
                <div>
                    <img src="~/content/website/images/20131228_153538.jpg" style="width: 245px; height: 230px; margin: 10px 20px; float: left;" alt="企业管理服务公司网站模板">
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        企业管理服务有限公司
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        地址：浙江省杭州市中山北路xx楼室
                    </div>
                    <div>
                        总机：000-0000000　　传真：000-0000000
                    </div>
                    <div>
                        邮箱：xxx@163.com　　　　　 邮编：000000
                    </div>
                    <div>
                        网址：www.xxxx.com
                    </div>
                    <div>
                        业务咨询电话：000-000000
                    </div>
                </div>
                <div>
                    &nbsp;
                </div>
                <div>
                    &nbsp;
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </div>
    <div class="clear"></div>
</div>
