@{
    ViewBag.Title = "PrizeOrderDetail";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Business.cshtml";
}

@section styles{
    <link href="~/Content/website/css/prizeblock.css" rel="stylesheet" />
    <link href="~/Content/website/css/detail_default.css" rel="stylesheet" />
}
<div class="gyt_main_body clearfix" style="width:1244px;">
    <div class="gm_left">
        @*<div class="gml_header">
            <h3>
                <a href="http://event.1905.com/">观影团首页</a>
                &gt;
           
                    <a href="http://d.1905.com/app/gyt">活动列表</a>
            </h3>
            <span>&gt; 【有奖活动】细说电影中那些逗比二人组</span>

        </div>*@
        <div class="left_mainbody">
            <div class="activities_content">
                <h2 class="film_name">【有奖活动】细说电影中那些逗比二人组</h2>
                <div class="acti_marks">
                    <ul>
                        <li class="reward pngIcon">奖品</li>
                    </ul>
                </div>
                <dl class="acti_intr clearfix">
                    <dt class="acti_img prevue_on">
                        <div class="act_pic">
                            <img width="250" height="262" src="." title="【有奖活动】细说电影中那些逗比二人组" onerror="this.onerror=null,this.src=&#39;http://image11.m1905.cn/uploadfile/nopic.gif&#39;">
                        </div>
                        <div class="act_icon act_icon_03">
                            <span class="start">开奖结束</span>
                            <span class="icon_01"></span>
                        </div>
                    </dt>


                    <dd class="acti_text">
                        <p class="simple_intr"><i class="left_icon pngIcon"></i>逗比二人组奇遇记，黄渤和徐峥就是典型吧？还有耿浩和郝义，你还知道哪对呢？                  <i class="right_icon pngIcon"></i></p>
                        <p class="a_t_time">
                            <span>2014年11月10日</span>                                    开奖时间：                
                        </p>
                        <ul class="opre item">
                            <li class=" _checkLogin red">



                                <span class="part_in_succ pngIcon">开奖结束  &nbsp;
                                           
                                        <a href="#" class="to_gybg" target="_blank">查看中奖者&gt;&gt;</a> &nbsp;
                                                                 
                                        <a href="#" target="_blank">查看中奖者&gt;&gt;</a>
                                </span></li>

                        </ul>
                        <div class="other_info clearfix">
                            <div class="inter_part_in_count"><span id="likeNum">1421</span>感兴趣<span class="part_peoples">1120</span>参加</div>
                        </div>

                        <div class="the_ticket the_reward pngIcon">
                            <dl>
                                <dd>免费提供</dd>
                                <dd class=" line-h25"><span style="font-size: 30px;" class="blue pl04 pr04">10</span>张</dd>
                            </dl>
                        </div>
                    </dd>
                </dl>
            </div>

            <div class="activi_city">
                <div class="sponsor_share clearfix">
                    <!-- Baidu Button BEGIN -->
                    @*<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                        <span class="bds_more_share bds_more ">分享给朋友吧：</span>
                        <a class="bds_qzone" title="分享到QQ空间" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_tsina" title="分享到新浪微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_tqq" title="分享到腾讯微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_renren" title="分享到人人网" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_t163" title="分享到网易微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                    </div>*@
                    <p class="sponsor">主办方:<a class="movie_wang" href="#" target="_blank">物流邦</a>                人气:<span>2506383</span></p>

                </div>
            </div>

        </div>
    </div>
    <div class="gm_left">
        @*<div class="gml_header">
            <h3>
                <a href="http://event.1905.com/">观影团首页</a>
                &gt;
           
                    <a href="http://d.1905.com/app/gyt">活动列表</a>
            </h3>
            <span>&gt; 【有奖活动】细说电影中那些逗比二人组</span>

        </div>*@
        <div class="left_mainbody">
            <div class="activities_content">
                <h2 class="film_name">【有奖活动】细说电影中那些逗比二人组</h2>
                <div class="acti_marks">
                    <ul>
                        <li class="reward pngIcon">奖品</li>
                    </ul>
                </div>
                <dl class="acti_intr clearfix">
                    <dt class="acti_img prevue_on">
                        <div class="act_pic">
                            <img width="250" height="262" src="." title="【有奖活动】细说电影中那些逗比二人组" onerror="this.onerror=null,this.src=&#39;http://image11.m1905.cn/uploadfile/nopic.gif&#39;">
                        </div>
                        <div class="act_icon act_icon_03">
                            <span class="start">开奖结束</span>
                            <span class="icon_01"></span>
                        </div>
                    </dt>


                    <dd class="acti_text">
                        <p class="simple_intr"><i class="left_icon pngIcon"></i>逗比二人组奇遇记，黄渤和徐峥就是典型吧？还有耿浩和郝义，你还知道哪对呢？                  <i class="right_icon pngIcon"></i></p>
                        <p class="a_t_time">
                            <span>2014年11月10日</span>                                    开奖时间：                
                        </p>
                        <ul class="opre item">
                            <li class=" _checkLogin red">



                                <span class="part_in_succ pngIcon">开奖结束  &nbsp;
                                           
                                        <a href="#" class="to_gybg" target="_blank">查看中奖者&gt;&gt;</a> &nbsp;
                                                                 
                                        <a href="#" target="_blank">查看中奖者&gt;&gt;</a>
                                </span></li>

                        </ul>
                        <div class="other_info clearfix">
                            <div class="inter_part_in_count"><span id="likeNum">1421</span>感兴趣<span class="part_peoples">1120</span>参加</div>
                        </div>

                        <div class="the_ticket the_reward pngIcon">
                            <dl>
                                <dd>免费提供</dd>
                                <dd class=" line-h25"><span style="font-size: 30px;" class="blue pl04 pr04">10</span>张</dd>
                            </dl>
                        </div>
                    </dd>
                </dl>
            </div>

            <div class="activi_city">
                <div class="sponsor_share clearfix">
                    <!-- Baidu Button BEGIN -->
                    @*<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                        <span class="bds_more_share bds_more ">分享给朋友吧：</span>
                        <a class="bds_qzone" title="分享到QQ空间" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_tsina" title="分享到新浪微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_tqq" title="分享到腾讯微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_renren" title="分享到人人网" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_t163" title="分享到网易微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                    </div>*@
                    <p class="sponsor">主办方:<a class="movie_wang" href="#" target="_blank">物流邦</a>                人气:<span>2506383</span></p>

                </div>
            </div>

        </div>
    </div>
    <div class="gm_left">
        @*<div class="gml_header">
            <h3>
                <a href="http://event.1905.com/">观影团首页</a>
                &gt;
           
                    <a href="http://d.1905.com/app/gyt">活动列表</a>
            </h3>
            <span>&gt; 【有奖活动】细说电影中那些逗比二人组</span>

        </div>*@
        <div class="left_mainbody">
            <div class="activities_content">
                <h2 class="film_name">【有奖活动】细说电影中那些逗比二人组</h2>
                <div class="acti_marks">
                    <ul>
                        <li class="reward pngIcon">奖品</li>
                    </ul>
                </div>
                <dl class="acti_intr clearfix">
                    <dt class="acti_img prevue_on">
                        <div class="act_pic">
                            <img width="250" height="262" src="." title="【有奖活动】细说电影中那些逗比二人组" onerror="this.onerror=null,this.src=&#39;http://image11.m1905.cn/uploadfile/nopic.gif&#39;">
                        </div>
                        <div class="act_icon act_icon_03">
                            <span class="start">开奖结束</span>
                            <span class="icon_01"></span>
                        </div>
                    </dt>


                    <dd class="acti_text">
                        <p class="simple_intr"><i class="left_icon pngIcon"></i>逗比二人组奇遇记，黄渤和徐峥就是典型吧？还有耿浩和郝义，你还知道哪对呢？                  <i class="right_icon pngIcon"></i></p>
                        <p class="a_t_time">
                            <span>2014年11月10日</span>                                    开奖时间：                
                        </p>
                        <ul class="opre item">
                            <li class=" _checkLogin red">



                                <span class="part_in_succ pngIcon">开奖结束  &nbsp;
                                           
                                        <a href="#" class="to_gybg" target="_blank">查看中奖者&gt;&gt;</a> &nbsp;
                                                                 
                                        <a href="#" target="_blank">查看中奖者&gt;&gt;</a>
                                </span></li>

                        </ul>
                        <div class="other_info clearfix">
                            <div class="inter_part_in_count"><span id="likeNum">1421</span>感兴趣<span class="part_peoples">1120</span>参加</div>
                        </div>

                        <div class="the_ticket the_reward pngIcon">
                            <dl>
                                <dd>免费提供</dd>
                                <dd class=" line-h25"><span style="font-size: 30px;" class="blue pl04 pr04">10</span>张</dd>
                            </dl>
                        </div>
                    </dd>
                </dl>
            </div>

            <div class="activi_city">
                <div class="sponsor_share clearfix">
                    <!-- Baidu Button BEGIN -->
                    @*<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                        <span class="bds_more_share bds_more ">分享给朋友吧：</span>
                        <a class="bds_qzone" title="分享到QQ空间" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_tsina" title="分享到新浪微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_tqq" title="分享到腾讯微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_renren" title="分享到人人网" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_t163" title="分享到网易微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                    </div>*@
                    <p class="sponsor">主办方:<a class="movie_wang" href="#" target="_blank">物流邦</a>                人气:<span>2506383</span></p>

                </div>
            </div>

        </div>
    </div>
    <div class="gm_left">
        @*<div class="gml_header">
            <h3>
                <a href="http://event.1905.com/">观影团首页</a>
                &gt;
           
                    <a href="http://d.1905.com/app/gyt">活动列表</a>
            </h3>
            <span>&gt; 【有奖活动】细说电影中那些逗比二人组</span>

        </div>*@
        <div class="left_mainbody">
            <div class="activities_content">
                <h2 class="film_name">【有奖活动】细说电影中那些逗比二人组</h2>
                <div class="acti_marks">
                    <ul>
                        <li class="reward pngIcon">奖品</li>
                    </ul>
                </div>
                <dl class="acti_intr clearfix">
                    <dt class="acti_img prevue_on">
                        <div class="act_pic">
                            <img width="250" height="262" src="." title="【有奖活动】细说电影中那些逗比二人组" onerror="this.onerror=null,this.src=&#39;http://image11.m1905.cn/uploadfile/nopic.gif&#39;">
                        </div>
                        <div class="act_icon act_icon_03">
                            <span class="start">开奖结束</span>
                            <span class="icon_01"></span>
                        </div>
                    </dt>


                    <dd class="acti_text">
                        <p class="simple_intr"><i class="left_icon pngIcon"></i>逗比二人组奇遇记，黄渤和徐峥就是典型吧？还有耿浩和郝义，你还知道哪对呢？                  <i class="right_icon pngIcon"></i></p>
                        <p class="a_t_time">
                            <span>2014年11月10日</span>                                    开奖时间：                
                        </p>
                        <ul class="opre item">
                            <li class=" _checkLogin red">



                                <span class="part_in_succ pngIcon">开奖结束  &nbsp;
                                           
                                        <a href="#" class="to_gybg" target="_blank">查看中奖者&gt;&gt;</a> &nbsp;
                                                                 
                                        <a href="#" target="_blank">查看中奖者&gt;&gt;</a>
                                </span></li>

                        </ul>
                        <div class="other_info clearfix">
                            <div class="inter_part_in_count"><span id="likeNum">1421</span>感兴趣<span class="part_peoples">1120</span>参加</div>
                        </div>

                        <div class="the_ticket the_reward pngIcon">
                            <dl>
                                <dd>免费提供</dd>
                                <dd class=" line-h25"><span style="font-size: 30px;" class="blue pl04 pr04">10</span>张</dd>
                            </dl>
                        </div>
                    </dd>
                </dl>
            </div>

            <div class="activi_city">
                <div class="sponsor_share clearfix">
                    <!-- Baidu Button BEGIN -->
                    @*<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                        <span class="bds_more_share bds_more ">分享给朋友吧：</span>
                        <a class="bds_qzone" title="分享到QQ空间" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_tsina" title="分享到新浪微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_tqq" title="分享到腾讯微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_renren" title="分享到人人网" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_t163" title="分享到网易微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                    </div>*@
                    <p class="sponsor">主办方:<a class="movie_wang" href="#" target="_blank">物流邦</a>                人气:<span>2506383</span></p>

                </div>
            </div>

        </div>
    </div>
    <div class="gm_left">
        @*<div class="gml_header">
            <h3>
                <a href="http://event.1905.com/">观影团首页</a>
                &gt;
           
                    <a href="http://d.1905.com/app/gyt">活动列表</a>
            </h3>
            <span>&gt; 【有奖活动】细说电影中那些逗比二人组</span>

        </div>*@
        <div class="left_mainbody">
            <div class="activities_content">
                <h2 class="film_name">【有奖活动】细说电影中那些逗比二人组</h2>
                <div class="acti_marks">
                    <ul>
                        <li class="reward pngIcon">奖品</li>
                    </ul>
                </div>
                <dl class="acti_intr clearfix">
                    <dt class="acti_img prevue_on">
                        <div class="act_pic">
                            <img width="250" height="262" src="." title="【有奖活动】细说电影中那些逗比二人组" onerror="this.onerror=null,this.src=&#39;http://image11.m1905.cn/uploadfile/nopic.gif&#39;">
                        </div>
                        <div class="act_icon act_icon_03">
                            <span class="start">开奖结束</span>
                            <span class="icon_01"></span>
                        </div>
                    </dt>


                    <dd class="acti_text">
                        <p class="simple_intr"><i class="left_icon pngIcon"></i>逗比二人组奇遇记，黄渤和徐峥就是典型吧？还有耿浩和郝义，你还知道哪对呢？                  <i class="right_icon pngIcon"></i></p>
                        <p class="a_t_time">
                            <span>2014年11月10日</span>                                    开奖时间：                
                        </p>
                        <ul class="opre item">
                            <li class=" _checkLogin red">



                                <span class="part_in_succ pngIcon">开奖结束  &nbsp;
                                           
                                        <a href="#" class="to_gybg" target="_blank">查看中奖者&gt;&gt;</a> &nbsp;
                                                                 
                                        <a href="#" target="_blank">查看中奖者&gt;&gt;</a>
                                </span></li>

                        </ul>
                        <div class="other_info clearfix">
                            <div class="inter_part_in_count"><span id="likeNum">1421</span>感兴趣<span class="part_peoples">1120</span>参加</div>
                        </div>

                        <div class="the_ticket the_reward pngIcon">
                            <dl>
                                <dd>免费提供</dd>
                                <dd class=" line-h25"><span style="font-size: 30px;" class="blue pl04 pr04">10</span>张</dd>
                            </dl>
                        </div>
                    </dd>
                </dl>
            </div>

            <div class="activi_city">
                <div class="sponsor_share clearfix">
                    <!-- Baidu Button BEGIN -->
                    @*<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                        <span class="bds_more_share bds_more ">分享给朋友吧：</span>
                        <a class="bds_qzone" title="分享到QQ空间" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_tsina" title="分享到新浪微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_tqq" title="分享到腾讯微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_renren" title="分享到人人网" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                        <a class="bds_t163" title="分享到网易微博" href="http://d.1905.com/app/gyt/detail/628?fr=imbd-05#"></a>
                    </div>*@
                    <p class="sponsor">主办方:<a class="movie_wang" href="#" target="_blank">物流邦</a>                人气:<span>2506383</span></p>

                </div>
            </div>

        </div>
    </div>
</div>
