@{
    ViewBag.Title = "TV";
    Layout = "~/Areas/Website/Views/Shared/_Layout_Business.cshtml";
}
<div class="gyt_main_body clearfix" style="width: 1244px;">
    <div style="font-weight: bold; text-align: center; font-size: 20px; padding: 20px 0; line-height: 200px;">在接受卫视指导。。。</div>
</div>
