<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="default" connectionString="Data Source=KINPAULN-PC\SQLSERVER2008R2;Initial Catalog=LotteryDraw;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ReadDBInteval" value="10" />
  </appSettings>
  <log4net>
  <root>
    <level value="ALL"/>
    <appender-ref ref="rollingFile"/>
  </root>
  <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" type="" value="log/"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyyMMdd"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
        <!--<param name="Header" value="&#xD;&#xA;=========================header=========================&#xD;&#xA;" />-->
        <!--<param name="Footer" value="&#xD;&#xA;=========================footer=========================&#xD;&#xA;" />-->
      </layout>
    </appender>
  <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  <logger name="WindowsApplication1.Form1">
    <level value="DEBUG"/>
    <appender-ref ref="rollingFile"/>
    <appender-ref ref="coloredConsoleApp"/>
    <appender-ref ref="SystemEvent"/>
  </logger>
  </log4net>
</configuration>
