@using Webdiyer.WebControls.Mvc;
@using LotteryDraw.Component.Tools;
@model PagedList<LotteryDraw.Site.Models.MemberView>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Breadcrumb{
    <li class="active">欢迎</li>
}
@section BodyHeader{
    @*<h1>用户管理
								<small>
                                    <i class="icon-double-angle-right"></i>
                                    用户列表
                                </small>
    </h1>*@
}
<div class="row">
    <div class="col-xs-12">
        <h1>欢迎您，@User.Identity.Name</h1>
        <p class="lead">
            本系统是【物流邦·抽奖吗】管理后台，敬请使用！
        </p>
    </div>
</div>
