@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/website/css/prizeblock.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
}
<div class="inner met_flash">
</div>
<div class="feature-container">
    <!-- main start -->
    <div class="wrap">
        <!-- 广告位 start -->
        <div style="">
            <img src="/content/website/images/1405417163.jpg" width="1002" alt="" height="138">
        </div>
        <!-- 广告位 end -->
        @RenderBody()
    </div>
    <!-- main end -->
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
        });
    </script>
    @RenderSection("scripts", required: false)
}