@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/website/css/prizeblock.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
}
<div class="feature-container">
    <!-- main start -->
    <div class="wrap">
        @RenderBody()
    </div>
    <!-- main end -->
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
        });
    </script>
    @RenderSection("scripts", required: false)
}