<footer>
    <div class="inner">
        <div class="foot-nav">
            <a href="/" title="公司团队">首页</a>
            <span>|</span><a href="/Business/Quota" title="定员抽奖">定员抽奖</a>
            <span>|</span><a href="/Business/Timing" title="定时抽奖">定时抽奖</a>
            <span>|</span><a href="/Business/Answer" title="答案抽奖">答案抽奖</a>
            <span>|</span><a href="/Business/Scene" title="现场抽奖">现场抽奖</a>
            <div class="clear"></div>
        </div>
        <div class="foot-text">
            <p>物流邦·抽奖吗 版权所有 2014-2014 鲁ICP备8888888 </p>
            <p>地址：山东省青岛市香港中路xx楼室  邮编：000000</p>
            <p>咨询热线：4000 000 000</p>
            <div id="metinfo_91mb_Powered"></div>
            <p></p>
            <div class="powered_by_metinfo">Powered&nbsp;by&nbsp;<a href="http://www.wuliubang.net/" target="_blank" title="物流邦·抽奖么">物流邦</a> ©2014-2014&nbsp;<a href="http://www.wuliubang.net/" target="_blank" title="物流邦·抽奖吗">www.wuliubang.net</a></div>
        </div>
    </div>
</footer>
