<footer>
    <div class="inner">
        <div class="foot-nav">
            @*<a href="/" title="公司团队">首页</a>
            <span>|</span><a href="/Business/Quota" title="定员抽奖">定员抽奖</a>
            <span>|</span><a href="/Business/Timing" title="定时抽奖">定时抽奖</a>
            <span>|</span><a href="/Business/Answer" title="答案抽奖">答案抽奖</a>
            <span>|</span><a href="/Business/Scene" title="现场抽奖">现场抽奖</a>
            <div class="clear"></div>*@
        </div>
        <div class="foot-text">
            <p>鲁ICP备13016609号</p>
            <p>青岛小草科技有限公司 版权所有</p>
            <p>地址：青岛市南区中山路10号  邮编：266000</p>
            <p>顾问：南开大学经济研究所  王金杰（女） 博士</p>
            <div id="metinfo_91mb_Powered"></div>
            <p></p>
            <div class="powered_by_metinfo">Copyright © 2015 抽奖吗  www.choujiangma.com  All Rights Reserved.</div>
        </div>
    </div>
</footer>
