<footer>
    <div class="inner">
        <div class="foot-nav">
            <a href="http://www.wuliubang.net/" title="公司团队">公司团队</a>
            <span>|</span><a href="http://www.wuliubang.net/" title="猎头服务">猎头服务</a>
            <span>|</span><a href="http://www.wuliubang.net" title="咨询服务">咨询服务</a>
            <span>|</span><a href="http://www.wuliubang.net/" title="培训服务">培训服务</a>
            <span>|</span><a href="http://www.wuliubang.net/" title="行业优势">行业优势</a>
            <span>|</span><a href="http://www.wuliubang.net/" title="案例展示">案例展示</a>
            <div class="clear"></div>
        </div>
        <div class="foot-text">
            <p>物流邦·抽奖吗 版权所有 2014-2014 鲁ICP备8888888 </p>
            <p>地址：山东省青岛市香港中路xx楼室  邮编：000000</p>
            <p>咨询热线：4000 000 000</p>
            <div id="metinfo_91mb_Powered"></div>
            <p></p>
            <div class="powered_by_metinfo">Powered&nbsp;by&nbsp;<a href="http://www.wuliubang.net/" target="_blank" title="物流邦·抽奖么">物流邦</a> ©2014-2014&nbsp;<a href="http://www.wuliubang.net/" target="_blank" title="物流邦·抽奖吗">www.wuliubang.net</a></div>
        </div>
    </div>
</footer>
