@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}


<div class="bannner" style="height: 366px;">
    <div class="indimg">
        <div class="banner">
            <div id="banner">
                <div id="ifocus" style="width: 1440px;">
                    <div id="ifocus_pic" style="width: 1440px; height: 366px">
                        <div style="left: 0px" id="ifocus_piclist">
                            <ul style="left: 0px; width: 7200px;">

                                <li><a href="http://www.wuliubang.net/" title="猎头服务" target="_blank">
                                    <img src="~/content/website/images/1405561479.jpg" alt="猎头服务" width="1440" height="366">
                                </a></li>

                                <li><a href="http://www.wuliubang.net/" title="行业优势" target="_blank">
                                    <img src="~/content/website/images/1405561958.jpg" alt="行业优势" width="1440" height="366">
                                </a></li>

                                <li><a href="http://www.wuliubang.net/" title="猎头职位" target="_blank">
                                    <img src="~/content/website/images/1405561790.jpg" alt="猎头职位" width="1440" height="366">
                                </a></li>

                                <li><a href="http://www.wuliubang.net/" title="咨询服务" target="_blank">
                                    <img src="~/content/website/images/1405414005.jpg" alt="咨询服务" width="1440" height="366">
                                </a></li>

                            </ul>
                        </div>
                        <div id="ifocus_btn">
                            <ul>


                                <li class="current">&nbsp;</li>


                                <li class="">&nbsp;</li>


                                <li class="">&nbsp;</li>


                                <li class="">&nbsp;</li>



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="index">
    <div id="News">
        <div class="inner">
            <h3><span>新闻咨询</span></h3>
            <ul>
                <div class="soroll">
                    <ol class="list-none metlist" style="margin-top: 0px;">
                        <li class="list "><a href="http://www.wuliubang.net/" title="2014新春动员大会" target="_self">2014新春动员大会</a></li>
                        <li class="list top"><a href="http://www.wuliubang.net/" title="反浪费不等于反对发展高端餐饮" target="_self">反浪费不等于反对发展高端餐饮</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="反浪费不等于反对发展高端餐饮" target="_self">反浪费不等于反对发展高端餐饮</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="物业管理行业引入企业优化管理" target="_self">物业管理行业引入企业优化管理</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="物业管理行业引入企业优化管理" target="_self">物业管理行业引入企业优化管理</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="浦东工委召开高端物业管理企业人才需求研讨会" target="_self">浦东工委召开高端物业管理企业人才需求研讨会</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="浦东工委召开高端物业管理企业人才需求研讨会" target="_self">浦东工委召开高端物业管理企业人才需求研讨会</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="市物业协会召开行业开源节流工作研讨会" target="_self">市物业协会召开行业开源节流工作研讨会</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="市物业协会召开行业开源节流工作研讨会" target="_self">市物业协会召开行业开源节流工作研讨会</a></li>
                        <li class="list "><a href="http://www.wuliubang.net/" title="2014新春动员大会" target="_self">2014新春动员大会</a></li>
                    </ol>
                </div>
            </ul>
            <div id="productsearch" class="data-valuez=&#39;&#39;">
                <span><i style="float: left;"></i></span><span>
                    <form method="POST" name="myform1" action="http://www.wuliubang.net/" target="_self">
                        <input type="hidden" name="lang" value="cn">&nbsp;<input type="hidden" name="searchtype" value="0">&nbsp;<span class="navsearch_input"><input type="text" name="searchword" size="20"></span>&nbsp;<input class="searchimage" type="image" src="~/content/website/images/index_btn.gif">
                    </form>
                </span>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <div id="features-index">
        <div class="bound">

            <div class="a1 ">
                <div>
                    <a href="http://www.wuliubang.net/demo/met093/354/service/"><span class="ph" style="height: 127px;">
                        <h4 class="c_blue">猎头服务</h4>
                        <p>与时俱进的发展战略：“汇聚精英，选贤任能，多元互补，同谋共嬴”；聚集各领域理论与实战相结合的国内外知名专家！</p>
                    </span>
                        <img src="~/content/website/images/1405492353.jpg" alt="猎头服务" class="ph" style="height: 127px;">
                    </a>
                </div>
                <div>
                    <a href="http://www.wuliubang.net/demo/met093/354/industry/"><span class="ph" style="height: 127px;">
                        <h4 class="c_orange">行业优势</h4>
                        <p>孜之追求的精神文化：“以人为本，诚信至上，敬业尽责，卓越完美”； 国际接轨运作模式精准到位的专业评估！</p>
                    </span>
                        <img src="~/content/website/images/1405492417.jpg" alt="行业优势" class="ph" style="height: 127px;">
                    </a>
                </div>
            </div>


            <div class="a2 ">
                <div>
                    <a href="http://www.wuliubang.net/demo/met093/354/consulting/"><span class="ph" style="height: 127px;">
                        <h4 class="c_green">咨询服务</h4>
                        <p>行之有效的运营策略：“把握时机，科学决策，规范管理，有效控制”； 专注,和谐,感恩,共赢! 脉随心动，精彩共舞！</p>
                    </span>
                        <img src="~/content/website/images/1405492887.jpg" alt="咨询服务" class="ph" style="height: 127px;">
                    </a>
                </div>
                <div>
                    <a href="http://www.wuliubang.net/demo/met093/354/job/"><span class="ph" style="height: 127px;">
                        <h4 class="c_orange">猎头职位</h4>
                        <p>审时度势的奋斗目标：“整合资源，拓展市场，高效运行，有序操作”我们服务企业，成就人才，铸就一份份事业辉煌。</p>
                    </span>
                        <img src="~/content/website/images/1405492502.jpg" alt="猎头职位" class="ph" style="height: 127px;">
                    </a>
                </div>
            </div>


            <div class="a3 ">
                <div>
                    <a href="http://www.wuliubang.net/demo/met093/354/training/"><span class="ph" style="height: 127px;">
                        <h4 class="c_blue">培训服务</h4>
                        <p>静水流深，载誉不缺，精神唯此，可得永年，为客户获取最具竞争力的人力资源为精英匹配呈现价值的事业平台！</p>
                    </span>
                        <img src="~/content/website/images/1405492451.jpg" alt="培训服务" class="ph" style="height: 127px;">
                    </a>
                </div>
                <div>
                    <a href="http://www.wuliubang.net/demo/met093/354/new/"><span class="ph" style="height: 127px;">
                        <h4 class="c_orange">新闻咨询</h4>
                        <p>持之以恒的经营理念：“始于客户需求，终于客户满意”，十年脉脉耕耘，十年脉脉服务，静水深流，但载誉不缺！</p>
                    </span>
                        <img src="~/content/website/images/1405492430.jpg" alt="新闻咨询" class="ph" style="height: 127px;">
                    </a>
                </div>
            </div>

        </div>
    </div>


    <div class="index-link linkx">
        <div class="bound">
            <h3 class="title">友情链接:</h3>
            <div class="img" style="width: 883px;">
                <ul class="list-none">
                </ul>
            </div>

            <div class="txt" style="width: 883px;">
                <ul class="list-none">
                    <li><a href="http://www.baidu.com/" target="_blank" title="">百度</a></li>
                    <li><a href="http://www.sina.com.cn/" target="_blank" title="">新浪</a></li>
                    <li><a href="http://news.163.com/" target="_blank" title="">网易新闻</a></li>
                    <li><a href="http://www.wuliubang.net/" target="_blank" title="">物流邦</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="clear"></div>
