
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

p, ul, ol, li, form, dd, dl, dt {
    margin: 0;
    padding: 0;
    list-style: none;
}

.f14 {
    font-size: 14px;
}


.fb {
    font-weight: 700;
}

.mainbody {
    /*width: 980px;*/
    width: 100%;
}